/* .container {
  position: absolute;
  background-color: #23252C;
  height: 868px;
  width: 550px;
  display: flex;
  left: 350px;
} */

.second-container {
position: absolute;
width: 317px;
height: 420px;
left: 450px;
top: 344px;
background: #1A1B21;
}

.footer {
position: absolute;
width: 317px;
height: 64px;
left: 450px;
top: 760px;
background: #161619;
border-radius: 0px 0px 10px 10px;
}